############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
.stylelintcache

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
frontend/.stylelintcache
.node_history

##### BITRIX ####

docker/mysql/bitrix.sql
bitrix/bitrix/.settings.php
/bitrix/local/composer.lock
bitrix/local/composer.phar
infra/dev/docker/data/
infra/dev/docker/logs/
app/bitrix
app/upload
app/local/php_interface/lib/composer.lock
app/local/php_interface/lib/vendor/
app/local/composer.phar
app/local/modules/koptelnya.synchronizer/lib/serviceInfo
app/local/modules/koptelnya.synchronizer/lib/Logger/log
app/local/modules/koptelnya.synchronizer/lib/auth.data
app/local/modules/koptelnya.synchronizer/syncCard.desc.txt
app/sitemap*
app/webstat

log.txt

# infra
infra/mysql/data
.env

.vscode

composer.phar

#######


app/.dev

app/bitrix
app/upload
app/sitemap_*
app/robots.txt


#npm (for case if npm modules was installed in work folder)
app/local/changes/template/.gitignore/node_modules
app/local/changes/template/.gitignore/*.code-workspace
app/local/changes/template/.gitignore.editorconfig
app/local/changes/template/.gitignore/*.bak

frontend/builder/cache

# Python virtual envs and cache (any depth)
**/.venv/
**/__pycache__/

# Кэш API результатов
**/.cache/
